/*overall style*/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
	padding: 0;
	margin:0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
footer{
      text-align:right;
      padding:3px;
      background-color:#4287f5;
      color:white;
  }


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #2b497a;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content basically the text above form */
.container1 {
    
    font-size: 18px;
  background-color: #cad0db;
  padding: 10px;
  text-align: center;
  margin-bottom: -27px;
 /* height: 200px;  Should be removed. Only for demonstration */
}

.container1 img{
    height: 400px;
	width: 600px;	
	margin-top: 20px;
	margin-bottom: 40px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #1d2e4a;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.btn{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.btn:hover {
    background: rgba(47, 48, 97, 80%);
}
input[type=submit] {
  background-color: #271052;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=reset] {
  background-color: #271052;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  
}


input[type=submit]:hover {
  background-color: #45a049;
}
input[type=reset]:hover{
	background-color: #45a049;
    }

.styled{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.styled thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}
.styled th,
.styled td {
    padding: 12px 15px;
    border-radius: 4px;
}

.styled tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}



/* style for the form*/
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.button {
  background-color: blue;
  border: none;
  color: #3FF;
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 50px 2px;
  cursor: pointer;
}

.bodyUpdateStatus
{
	background-image: url('helpingHand.jpg');
  	background-repeat: no-repeat;
	background-size:cover;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  }
  